[Desktop Entry]
Type=Application
Exec=__BINDIR__/parser
Terminal=true
Icon=__APPDEFAULTSDIR__/ax.xpm
Comment=ViPro graphical parser (build)
Name=parser